.card{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: flex-end;
}

.card a{
    display: block;
    width: 225px;
    height: 130px;
    border-radius: 0.5rem;
}

.cover{
    border-radius: 1rem;
    box-shadow: 0 0 10px #000011;
    width: 100%;
    height: 100%;
}

.card .cover:hover{
    transform: scale(1.2);
    border-radius: 1rem;
}

.icon{
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin: 0 4px 4px 0;
    border-radius: 4px;
}

.icon:hover{
    cursor: pointer;
    background-color: #ffffff;
}